body{
background-image: url("background.jpg");
   background-size:cover;
    
  }
  #loginContainer{
    margin:40px;
    background-repeat: none;
    
  }
  #gif{
    height:300;
    width:300px;
  }
  #loginbox{
    background-color: rgba(120, 213, 252, 0.571);
    height:850px;
    width:905px;
    padding-top:20px;
    float:right;
    text-align:center;
    border-radius: 5%;
    margin-top:5px;
    padding:50px;
    
  }
#welcome{
  float:left;
  width: 1000px;
  text-align: center;
  color:white;
}

  